<div class="container pt-5">
    <p class="display-3">Dashboard</p>
    <hr class="p-2 m-0"/>

    <div class="row justify-content-around">
        <div class="col p-3 m-3">
            <p class="display-4">USERS</p>
            <ul class="list-group">
                <li class=" list-group-item m-2 p-2 border-top-0 border-0 border-left-0 border-right-0"
                *ngFor="let user of roleUsers"
                style=" align-items: center;"> 
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">User - {{user.id}} </h5>
                        <h6 class="card-subtitle mb-2 text-muted">Details</h6>
                        <p class="card-text">Username: {{user.name}} </p>
                        <p class="card-text">Email: {{user.email}} </p>
                        <div class="row">
                            <div class="col">
                                    <a (click)="grantAdmin(user)"
                                    class="btn btn-outline-primary btn-lg btn-block"> 
                                        Admin
                                    </a>
                                </div>
                            <div class="col">
                                <button type="button" (click)="delete(user)" class="btn btn-outline-danger btn-lg btn-block">Delete user</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </li>
                
            </ul>
        </div>
        <div class="col p-3 m-3">
            <p class="display-4">ADMINS</p>
            <ul class="list-group">
                <li class=" list-group-item m-2 p-2 border-top-0 border-0 border-left-0 border-right-0"
                *ngFor="let admin of roleAdmins"
                style=" align-items: center;"> 
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Admin - {{admin.id}} </h5>
                            <h6 class="card-subtitle mb-2 text-muted">Details</h6>
                            <p class="card-text">Username: {{admin.name}} </p>
                            <p class="card-text">Email: {{admin.email}} </p>
                            <div *ngIf="!isCurrentUser(admin.id)">
                                <div class="row">
                                    <div class="col">
                                          <a (click)="revokeAdmin(admin)"
                                          class="btn btn-outline-primary btn-lg btn-block"> 
                                              Revoke Admin
                                          </a>
                                      </div>
                                    <div class="col">
                                      <button type="button" (click)="delete(admin)" class="btn btn-outline-danger btn-lg btn-block">Delete user</button>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
            
</div>